{% extends "template.html" %}
{% block content %}
        <form method="POST" action="{{ url_for('create_game') }}">
            <fieldset>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input type="text" id="genre" name="genre" class="form-control">
                </div>
                <div class="form-group">
                    <label for="platform">Platform</label>
                    <input type="text" id="platform" name="platform" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-save">Save</button>
            </fieldset>
        </form>
{% endblock %}